@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.kotte{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
/* .bgImg{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
    z-index: -1;
    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.bgImg::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
}
.bgImg{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url('tt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 0px;
}

.contact .content{
    max-width: 800px;
    text-align: center;
    z-index: 1;
}
.contact .content h2{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.containerc1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
 .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
 .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
 .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.text h3{
    /* font-weight: 500; */
    color: rgb(230, 152, 34);
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #ffffff1f;
    border-radius: 20px;
}
.contactForm h2{
    font-size: 30px;
    color:rgb(230, 152, 34);;
    /* font-weight: 500; */
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.inputBox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    resize: none;
    padding-left: 10px;
    background: transparent;
    color: white;
   
    
}

.inputBox textarea{
    height: 50px;
    padding-left: 10px;
    color: white;

}


.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    padding-left: 10px;
    color: orange;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: orange;
    font-size: 12px;
    transform: translateY(-20px);
    
}

.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: orange;
    font-size: 12px;
    transform: translateY(-31px);
    
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: rgb(230, 152, 34);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}
.inputBox button{
    width: 100px;
    background: rgb(230, 152, 34);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.inputBox textarea{
    outline: none;
}
@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .containerc1{
        flex-direction: column;
    }
    .containerc1 .contactInfo{
        margin-bottom: 40px;
    }
    .containerc1 .contactInfo,.contactForm{
        width: 100%;
    }
}