body {
  margin: 0;
  padding: 0;
  /* background-color: #1d2634; */
  /* color: #9e9ea4; */
  font-family: 'Montserrat', sans-serif;
}

.iconn {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.iconn_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.iconn, .iconn_header {
  margin-right: 5px;
}


.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.newcontain{
  display: grid;
  grid-template-columns: 1fr 5fr ;
  height: 100vh;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr; ;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main main main';
  height: 100vh;
} */
/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  /* .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  } */

  .newcontain{
  display: block !important;
  }

  #TAsidebar {
    display: none;
  }

  .TAheader .TAmennu-icon {
    display: inline;
  }

  .TAsidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .TAmain-cardds {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .TAhedaer-left {
    display: none;
  }
}