

.bodypart {
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

.fss{
  background-color: #9F7AEA;
}

.main {
    width: 50vw;
    



}
.spinner-icon {
    animation: spin 1s infinite linear; /* Apply rotation animation */
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate to 360 degrees */
    }
  }
  

  


label{
    margin-right: 10px;
}

input{
    border-radius: 5px;
}

textarea{
    border-radius: 5px;
}

.headName{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}
.button {
    color: #2f27c2; /* Default text color */
    border: 1px solid #2f27c2; /* Default border color */
    background-color: transparent; /* Default background color */
    font-weight: medium;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    text-align: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }
  
  .button:hover {
    color: white;
    background-color: #2f27c2;
    border-color: #2f27c2;
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(83, 13, 236, 0.913);
  }
  
  .dark .button {
    color: #9F7AEA; /* Dark mode text color */
    border-color: #9F7AEA; /* Dark mode border color */
  }
  
  .dark .button:hover {
    color: white;
    background-color: #3477e9;
    border-color: #e4233a;
  }
  
  .dark .button:focus {
    box-shadow: 0 0 0 3px rgb(206, 99, 27);
  }
  

  /* .scroll_main_inner{
    height: 400px !important ;
    overflow-y: auto !important;
  } */

  .scroll_main_inner::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll_main_inner {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }