.main_inner2 {
    padding: 3%;
    background-image: linear-gradient(to top, #b89af6, #abacfe, #a4bdff, #a6cbff, #b1d7fb);
    display: grid;
    grid-template-columns: 2fr 1fr;

    .video_section_main video {
        width: 100%;
        border-radius: 20px;
        /* box-shadow: 5px 6px 7px rgb(237, 235, 235); */
    }

    .main_heading_courseName {
        margin-top: 2rem;

        .desc_course {
            color: white;
            font-weight: 700;
            text-align: left;
            font-size: 1.2rem;
            margin-top: 5px;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.653);
            word-spacing: 2px;
            padding-bottom: 5px;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 2px;
            color: rgb(255, 255, 255);
            background: white;
            border-radius: 2px;
            height: 8px;
            opacity: 1;
        }
    }

    .main_teacher_name_and_profile {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pppp {
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
        }


        .teacher_name2_email {
            .t_name2 {
                font-weight: 600;
                font-size: 1.1rem;
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.61);
            }

            .t_email2 {
                color: rgb(255, 255, 255);
                font-weight: 500;
                text-shadow: 1px 1px 2px black;
            }
        }

        .duratio2 {
            .d22 {
                font-weight: 600;
                font-size: 1.1rem;
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.61);
            }

            .d33,
            i {
                color: rgb(255, 255, 255);
                font-weight: 500;
                text-shadow: 1px 1px 2px black;
            }
        }
    }

    .main_teacher_name_and_profile img {
        border-radius: 50%;
        border: 7px solid white;
        box-shadow: 0px 0px 5px black;
    }

    .likes2 {
        background: #ffffff;
        padding: 1%;
        border-radius: 10px;

        .likes2_inner {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .likeCount2 {
                font-size: 1.2rem;
                padding: 5px;
                font-weight: 500;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .btnLinkes2 i {
                font-size: 1.2rem;
                padding: 5px;
                transition: all 100ms ease-in;
                border-radius: 10px;
                background: #aaacf0;

                &:hover {
                    transform: scale(1.07);
                    transform: rotate(-70deg);
                }
            }

            .btnLinkes23 i {
                font-size: 1.2rem;
                padding: 5px;
                transition: all 100ms ease-in;
                border-radius: 10px;
                background: #aaacf0;

                &:hover {
                    transform: scale(1.07);
                    transform: rotate(88deg);
                }
            }
        }
    }

    .test_main2 {
        padding: 1%;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms ease-in;

        &:hover {
            transform: scale(1.07);
        }

        .butTest {
            font-size: 1.2rem;
            padding: 5px;
            border-radius: 10px;
            background: #aaacf0;
            font-weight: 500;
            transition: all 200ms ease-in;

            &:hover {
                transform: scale(1.07);
            }
        }
    }

}


.comment_main2 {
    .comment_inner2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .cmm_head2 {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid rgb(255, 255, 255);
        }


    }
}

.overFlow-set::-webkit-scrollbar {
    display: none;
}


.overFlow-set {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.overFlow-set {
    height: 197px;
    overflow-y: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.main_comm_inner {
    padding-left: 20px;

    .bg-2 {
        background: #aaacf0;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.527);
    }


    .each_comm2 img {
        width: 40px;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 0 5px black;
    }

    .each_comm2 {
        display: flex;
        gap: 10px;
        justify-content: left;
        align-items: center;

        .each_name {
            font-weight: 500;
        }
    }

    .desc_review p {
        font-size: 11px;
        margin-top: 10px;
    }
}

.comment_send_main {
    margin-top: 20px;

    .button333 {
        margin-top: 6px;
        width: 100%;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.651);

        &:hover {
            transform: scale(1) !important;
        }
    }
}

.comment_send_main textarea {
    background: white;
    border: 4px solid #aaacf0;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.651);
}


.floating-btn {
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 1000;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* responsive */
@media (max-width: 860px) {
    .main_teacher_name_and_profile {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .likes2 {
            width: fit-content;
            margin-top: 10px;
        }

        .likes2_inner {
            width: fit-content;
        }

        .test_main2 {
            margin-top: 10px;
            width: 50%;
        }

        .test_main2 a {
            width: 100%;
            text-align: center;
        }
    }

    .each_comm2 img {
        width: 30px !important;
    }

    .each_comm2 p {
        font-size: 1.2rem !important;
        font-weight: 600 !important;
    }

    .desc_review p {
        font-size: 9px !important;
    }

    .overFlow-set {
        height: 210px !important;
    }

    .comment_send_main textarea {
        height: 110px;
        margin-top: -10px;
    }
}


@media (max-width: 678px) {

    .main_inner2 {
        display: block;
    }
    .main_teacher_name_and_profile {
        margin-top: 10px;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;

        .likes2 {
            width: fit-content;
            margin-top: 10px;
        }

        .likes2_inner {
            width: fit-content;
        }

        .test_main2 {
            width: fit-content;
        }
    }

    .main_heading_courseName .head_course{
        font-size: 2.3rem !important;
    }
    .main_heading_courseName .desc_course{
        font-size: 15px !important;
        font-weight: 400 !important;
    }
    .comment_inner2{
        margin-top: 25px;
        .cmm_head2 p{
            font-size: 2.3rem !important;
        }
    }

    .each_comm2 img {
        width: 30px !important;
    }

    .each_comm2 p {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
    }

    .desc_review p {
        font-size: 9px !important;
    }

    .main_comm_inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .overFlow-set {
        height: 170px !important;
    }

    .comment_send_main textarea {
        height: 110px;
        margin-top: -10px;
    }

    .pppp img{
        width: 50px;
    }
}