<<<<<<< HEAD
.c-container{
    justify-content: space-between;
}

.c-container>div{
    flex: 1;
}

.c-right{
    width: 100%;
}

.c-left{
    gap:0.5rem;
    margin-left: 2rem;
}

.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row{
    gap: 1.5rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128,128,128,0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode .button{
    width: 100%;
    background-color: lightblue;
    color: blue;
    font-size: 0.9rem;
    font-weight: 600;
}

.mode >:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}

.mode:hover{
    scale:1.1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mode .button:hover{
    color: white;
    background: linear-gradient(#62cff4, #2c67f2);
    scale: 0.8;
}

.image-container{
    width: 26rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 10rem 3rem 12rem 22rem;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 7px 3px 19px -2px rgb(99, 72, 218);
    background-image: url("../../../../public/C3759159.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2rem;
}

@media(max-width:1024px){
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contactModes{
        width: 100%;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
    .c-right .image-container{
        width: 80%;
        border-radius: 0rem 12rem 3rem 22rem;
        background-position: 1rem;
    }
=======
.c-container{
    justify-content: space-between;
}

.c-container>div{
    flex: 1;
}

.c-right{
    width: 100%;
}

.c-left{
    gap:0.5rem;
    margin-left: 2rem;
}

.contactModes{
    margin-top: 2rem;
    gap: 1rem;
}

.contactModes .row{
    gap: 1.5rem;
}

.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128,128,128,0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}

.mode .button{
    width: 100%;
    background-color: lightblue;
    color: blue;
    font-size: 0.9rem;
    font-weight: 600;
}

.mode >:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}

.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}

.mode:hover{
    scale:1.1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mode .button:hover{
    color: white;
    background: linear-gradient(#62cff4, #2c67f2);
    scale: 0.8;
}

.image-container{
    width: 26rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 10rem 3rem 12rem 22rem;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 7px 3px 19px -2px rgb(99, 72, 218);
    background-image: url("../../../../public/C3759159.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2rem;
}

@media(max-width:1024px){
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contactModes{
        width: 100%;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
    .c-right .image-container{
        width: 80%;
        border-radius: 0rem 12rem 3rem 22rem;
        background-position: 1rem;
    }
>>>>>>> 38aee47d5fbd111cbc171fd84c2c9d21da9a756e
}