/* Main  */  
.mainn-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    /* color: rgba(255, 255, 255, 0.95); */
    margin-top: 2%;
  }
  .smc{
    background: white !important;
  }
  
  .mainn-title {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 600;
    font-size: 1.8rem;
  }
  
  .mainn-cardds {
    display: flex;
    height: 88%;
    padding: 17px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0;
  }
  
  .cardd {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px 15px;
    border-radius: 5px;
    padding: 20px;
    width: 20rem;
  }
  
  .cardd:first-child {
    /* background-color: #2962ff; */
    background: linear-gradient(45deg, #2aeeff, #5580eb);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 1.8rem 5rem 0 0; */
    transition: all 300ms ease-in;
  }
  
  .cardd:nth-child(2) {
    background: linear-gradient(45deg, #90f2ff, #55ebd2);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 0 0 1.8rem 5rem; */
    /* border-radius: 1.8rem 5rem 0 0 ; */
    transition: all 300ms ease-in;
  }

 
  .cardd:nth-child(3) {
    background-image: linear-gradient(to left, #39993f, #3aa953, #3aba67, #38cb7c, #34dc92);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 1.8rem 5rem 0 0 ; */
    /* border-radius: 0 0 1.8rem 5rem; */
    transition: all 300ms ease-in;
  }
  
  .cardd:nth-child(4) {
    background-image: linear-gradient(to left, #673999, #0070d2, #009cde, #00bfc1, #34dc92);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 0 0 1.8rem 5rem; */
    transition: all 300ms ease-in;

  }
  .cardd:nth-child(5) {
    background-image: linear-gradient(to left, #e62828, #ef273d, #f62a50, #fb3063, #ff3976);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 0 0 1.8rem 5rem; */
    transition: all 300ms ease-in;

  }
  .cardd:nth-child(6) {
    background-image: linear-gradient(to left, #9e28e6, #1e78ff, #00a3ff, #00c3ff, #47ddf6);
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0px 0px 14px rgb(210, 204, 204);
    border: 6px solid rgb(255, 255, 255);
    /* border-radius: 0 0 1.8rem 5rem; */
    transition: all 300ms ease-in;

  }

  .cardd:first-child:hover, .cardd:nth-child(2):hover , .cardd:nth-child(3):hover, .cardd:nth-child(4):hover, .cardd:nth-child(5):hover, .cardd:nth-child(6):hover{
    scale: 1.1;
    cursor: pointer;
  }
  
  .cardd-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a i{
      color: white;
      font-size: 1.7rem;
      font-weight: 700;
      text-shadow: 0 1px 3px black;
    }
  }
  
  .cardd-inner > .cardd_icon {
    font-size: 35px;
  }
  .cardd-inner h3{
    font-weight: 700;
  }
  .cardd h1{
    font-weight: 700;
    color: white;
    text-shadow: 0 0 2px black;
  }
  
  /* End Main  */